<h2>Fog</h2>
<table>
    <tr>
        <td>BW:</td>
        <td>{{vm.ServerName.BW}}</td>
    </tr>
    <tr>
        <td>BeingInstantiated:</td>
        <td>{{vm.ServerName.BeingInstantiated}}</td>
    </tr>
    <tr>
        <td>CloudletScheduler:</td>
        <td>{{vm.ServerName.CloudletScheduler}}</td>
    </tr>
    <tr>
        <td>CurrentAllocatedBw:</td>
        <td>{{vm.ServerName.CurrentAllocatedBw}}</td>
    </tr>
    <tr>
        <td>CurrentAllocatedMips:</td>
        <td>{{vm.ServerName.CurrentAllocatedMips}}</td>
    </tr>
    <tr>
        <td>CurrentAllocatedRam:</td>
        <td>{{vm.ServerName.CurrentAllocatedRam}}</td>
    </tr>
    <tr>
        <td>CurrentAllocatedSize:</td>
        <td>{{vm.ServerName.CurrentAllocatedSize}}</td>
    </tr>
    <tr>
        <td>Host:</td>
        <td>{{vm.ServerName.Host}}</td>
    </tr>
    <tr>
        <td>ID:</td>
        <td>{{vm.ServerName.ID}}</td>
    </tr>
    <tr>
        <td>InMigration</td>
        <td>{{vm.ServerName.InMigration}}</td>
    </tr>
    <tr>
        <td>MIPS</td>
        <td>{{vm.ServerName.MIPS}}</td>
    </tr>
    <tr>
        <td>NumberOfPes:</td>
        <td>{{vm.ServerName.NumberOfPes}}</td>
    </tr>
    <tr>
        <td>RAM:</td>
        <td>{{vm.ServerName.RAM}}</td>
    </tr>
    <tr>
        <td>Size:</td>
        <td>{{vm.ServerName.Size}}</td>
    </tr>
    <tr>
        <td>UId:</td>
        <td>{{vm.ServerName.UId}}</td>
    </tr>
    <tr>
        <td>UserId:</td>
        <td>{{vm.ServerName.UserId}}</td>
    </tr>
    <tr>
        <td>VMM:</td>
        <td>{{vm.ServerName.VMM}}</td>
    </tr>
</table>